
.header-section {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    width: 1920px;

}
.title-section {
    padding-left: 200px;
}

.header-title {
color: #272727;
font-size: 80px;
font-weight: 800;
width: 708px;
margin-bottom: 10px;
}
.header-details {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin-top: 10px;
}
.primary-bottom {
color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;
border: 0;
padding: 20px 43px;
margin-top: 10px;
margin-left: 300px;
}
.profile {
    width: 500px;
    padding: 50px 200px 0px;

}


.about-section {
    display: flex;
    align-items: center;
    width: 1922px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 30px;
    padding-left: 400px;

}


.discount-section {
color: #272727;
font-size: 40px;
font-weight: 800;
}
.color-title {
color: rgba(229, 84, 115, 1);
}
.discount-details {
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 594px;
}

.second-bottom {
    color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;
padding: 20px 43px;
border: 0;
margin-left: 200px;
}

.flower-img {
    width: 318px;
    padding: 100px 400px;
}

.instagram-title {
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 30px;
}
.instagram-details {
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-left: 600px;
width: 594px;
margin-top: 15px;
}
.instagram-image {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.banner-container{
background-image: url(../Rectangle\ 9.png);
width: 1440px;
height: 449px;
margin: 0px 240px;
}
.main-heder { 
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-top: 120px;
padding: 120px;
}
.main-details {
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
position: relative;
bottom: 140px;

}
.primary-placeholder {
width: 500px;
height: 64px;
border-radius: 8px;
background: #FFF;
margin-left: 450px;
position: relative;
bottom: 120px;
}
.but-banner {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    position: relative;
    bottom: 120px;
}

    .footer-section {
    width: 1922px;
    height: 449px;
    background: #111010;
    margin-top: 120px;
    }

.footer-title {
color: #E55473;
font-family: Lato;
font-size: 48px;
font-weight: 800;
text-align: center;
position: relative;
top: 120px;
}
.footer-details {
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 625px;
margin: 130px 650px;
}
.second-detais {
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight:400;
position: relative;
bottom: 120px;
}
.color-footer {
    color: rgba(255, 255, 255, 1);
}